{% extends "bootstrap/base.html" %}
{% block title %}Scrabble Leaderboard{% endblock %}

{% block navbar %}
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Elder Studios Scrabble Club</a>
			</div>
	
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="/">Leaderboard</a></li>
					<li><a href="/members">All Members</a></li>
					<li><a href="/new-member">New Member</a></li>
					<li><a href="/new-entry">New Entry</a></li>
				</ul>
				
				
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/edit-member/{{member['id']}}">Edit Member Details</a></li>
				</ul>
			</div><!-- /.navbar-collapse -->
			
		</div><!-- /.container-fluid -->
	</nav>
{% endblock %}

{% block content %}
	<h1>Member details for {{ member['name'] }}:</h1>
  
	<table class="table table-bordered">
		<thead>
			<th> Number of wins </th>
			<th> Number of losses</th>
			<th> Average Score </th>
			<th> Highest Score </th>
		</thead>
		<tbody>
			<tr>
				<td> {{ member['wins'] }} </td>
				<td> {{ member['losses'] }} </td>
				<td> {{ member['average'] }} </td>
				<td> {{ member['highestScore'] }} </td>
			</tr>
		</tbody>
	</table>
	<p> Their highest score was achieved on {{ member['highestDate'] }}, versus {{ member['highestOpponent'] }}. </p>
{% endblock %}
