{% extends "bootstrap/base.html" %}
{% block title %}Scrabble Leaderboard{% endblock %}

{% block navbar %}
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Elder Studios Scrabble Club</a>
			</div>
	
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="/">Leaderboard</a></li>
					<li class="active"><a href="/members">All Members</a></li>

					<li><a href="/new-member">New Member</a></li>
					<li><a href="/new-entry">New Entry</a></li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>
{% endblock %}

{% block content %}
	<table class="table table-striped table-bordered table-hovered">
		<h2> There are {{ userCount }} members: </h2>
		<thead> 
			<th>Member Name</th>
		</thead>
		<tbody> 
			{% for member in members %}
				<tr>
					<td> <a href="/member/{{ member['id'] }}">{{ member['name'] }} </a> </td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
