{% extends "bootstrap/base.html" %}
{% block title %}Scrabble Leaderboard{% endblock %}

{% block navbar %}
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Elder Studios Scrabble Club</a>
			</div>
	
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="/">Leaderboard</a></li>
					<li><a href="/members">All Members</a></li>
					<li><a href="/new-member">New Member</a></li>
					<li><a class="active" href="/new-entry">New Entry</a></li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>
{% endblock %}

{% block content %}
	<h1> Please enter the match details: </h1>
	<form class="form form-horizontal form-inline" action="" method="post" name="new-member" role="form">
		{{ form.hidden_tag() }}
		<p> Details: </p>
		{{ form.player1(placeholder="Player 1", class="form-control") }}
		{{ form.player2(placeholder="Player 2", class="form-control") }}
		</br>
		{{ form.player1_score(placeholder="Player 1 Score", class="form-control") }}
		{{ form.player2_score(placeholder="Player 2 Score", class="form-control") }}
		
		{{ form.match_date(placeholder="Date: DD/MM/YYYY", class="form-control") }}
		<p><input class="form-control" type="submit" value="Submit"></p>
	</form>{% endblock %}
