{% extends "bootstrap/base.html" %}
{% block title %}Scrabble Leaderboard{% endblock %}

{% block navbar %}
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Elder Studios Scrabble Club</a>
			</div>
	
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="/">Leaderboard</a></li>
					<li><a href="/members">All Members</a></li>
					<li class="active"><a href="/new-member">New Member</a></li>
					<li><a href="/new-entry">New Entry</a></li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>
{% endblock %}

{% block content %}
	<h1> Please enter your details: </h1>
	<form class="form form-horizontal form-inline" action="" method="post" name="new-member" role="form">
		{{ form.hidden_tag() }}
		<p> Details: </p>
		{{ form.forename(placeholder="Forename", class="form-control") }}
		{{ form.surname(placeholder="Surname", class="form-control") }}
		</br>
		{{ form.email_address(placeholder="email", class="form-control") }}
		{{ form.phone_number(placeholder="Phone Number", class="form-control") }}
		
		<p> Address: </p>
		{{ form.city(placeholder="City", class="form-control") }}
		{{ form.postcode(placeholder="Postcode", class="form-control") }}
		</br>
		{{ form.street_name(placeholder="Street Name", class="form-control") }}
		{{ form.house_number(placeholder="House Number", class="form-control") }}
		<p><input class="form-control" type="submit" value="Submit"></p>
	</form>
{% endblock %}
